<table id="destination-list">
  <tr><th>Show Only Trips to</th></tr>
  <% @destination_list.keys.sort.each do |text| %>
    <tr>
      <% count, letter = @destination_list[text] %>
      <%value = "<span> #{text}</span> (#{count})"%>
      <td class=<%= "#{letter}" %>>
        <%= link_to value, "/?destination=#{text.gsub(' ', '_')}" %>
      </td>
    </tr>
  <% end %>
    <tr><td><a href="/?destination=clear" class="selected">All Destinations</a></td></tr>
</table>