<thead>
<tr class="wip-header">
  <% week_col_class = day.strftime("%a") %>
  <%= tag('th', {:class=>week_col_class, :colspan=>@vehicles.length}, true) %>
  <%= day.strftime("<span class=\"small\">%b %d</span> %a <span class=\"small\">%Y</span>") %>
  </th>
</tr>
<tr>
  <% week_col_class = day.strftime("%a") %>
  <% @vehicles.each do |vheader| %>
    <% vehicle_color_class = vheader.gsub(' ', '-') + '-trip' %>
    <%= tag('th', {:class=>"#{week_col_class} #{vehicle_color_class} vehicle-header"}, true) %>
    <%= vheader %>
    </th>
  <% end %>
</tr>
</thead>