<thead>
<tr id="wip-header">
  <td><!-- time column spacer --></td>
  <% @days.each do |day| %>
    <% week_col_class = day.strftime("%a") %>
    <%= tag('th', {:class=>week_col_class, :colspan=>@vehicles.length}, true) %>
      <%= day.strftime("<span class=\"small\">%b %d</span> %a <span class=\"small\">%Y</span>") %>
    </th>
  <% end %>
</tr>
<tr>
  <td><!-- time column spacer --></td>
  <% ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"].each do |week_col_class| %>
    <% @vehicles.each do |vheader| %>
      <%= tag('th', {:class=>week_col_class + " vehicle-header"}, true) %>
        <%= vheader %>
      </th>
    <% end %>
  <% end %>
</tr>
</thead>