<thead>
    <tr id="wip-header">
      <td><!-- time column spacer --></td>  
      <% @days = (0..6).collect {|i| Date.parse(@start_date) + i.days}%>
      <% @days.each do |day|%>
        <th colspan="<%= @vehicles.length %>">
          <%= day.strftime("<span class=\"small\">%b %d</span> %a <span class=\"small\">%Y</span>") %>
        </th>
      <% end %>
    </tr>
    <tr>
      <td><!-- time column spacer --></td>
      <% 7.times do %>
        <% @vehicles.each do |vheader| %>
          <th class="vehicle-header">
            <%= vheader %>
          </th>
        <% end %>
      <% end %>
    </tr>
  </thead>