<h1>Rutledge Travel Calendar Version 5</h1>
<%= render :partial => 'navbar', :locals => {:start_date => @start_date } %>
<div id="calendar-containers">
  <%= render :partial => @cal_type %>
</div>
<%= render :partial => 'trip_list' %>
