<h1>Rutledge Travel Calendar Version 5</h1>
<div id="three-calendars">
  <%= render :partial => 'three_calendars' %>
  <%= render :partial => 'destination_list'  %>
</div>
<%= render :partial => 'trip_list' %>
