body {
  background-color: #fff;
  color: #333;;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

.trip_form p {
  padding: 0 10px 5px 0;
}

.trip_form td {
  vertical-align: top;
}

.trip_form label {
  font-weight: bold;
  width: 150px;
  float: left;
}

.trip_form .radio input {
  margin: 2px 5px 0 0;
}

.trip_form input {
  margin: 0 0 13px 0;
  float: left;
}

#create_trip_button {
  margin-bottom: 10px;
}

div#calendar-containers {
  /*only allow calendars to display side by side*/
  float: left;
  width: 1000px;
}

table {
  border: 1px solid gray;
  /*margin: 2px;*/
  border-spacing: 0;
  border-collapse: collapse;
}


table.calendar {
  float: left;
  width: 100%;
}

table.popup {
  text-align: left;
  width: 600px;
}

table.popup td, table.popup th {
  border: 1px solid black;
}

#trip-list, #destination-list, .popup table {
  background-color: wheat;
}

table .calendar tr, table #destination-list tr {
  vertical-align: top;
}

div#month {
  float: left;
  margin-right: 1%;
  width: 27%;
}

 #destination-list td, #trip-list td, table.popup td, div#week_calendar td {
  border: 1px solid gray;
  border-collapse: collapse;
  border-spacing: 0;
}

div#month-calendars {
  float: left;
  width: 100%;
}

div#destination-list{
  float: left;
  width: 16%;
  margin-bottom: 10px;
}

div#week_calendar div#destination-list{
  width: 100%;
}

div#destination-list table, div#destination-list tr, div#destination-list td {
  width: 100%;
}

div#destination-list td a:visited{
  color: black;
}

div#week_calendar#destination-list {
  width: 12.5%;
}

div#week_calendar td {
  width: 12.5%;
  vertical-align: top;
  height: 100%;
}

div#week_calendar table.day {
  border: 0;
  padding: 2px;
  height: 30px;
}

div#week_calendar table th {
  vertical-align: top;
  font-size: 12px;
}

div#week_calendar table {
  width: 100%;
}

table.trip-list, .trip-list th, .trip-list td {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

div#trip-list {
  clear: both;
  margin-top: 10px;
  width: 100%;
}

div#trip-list table th, table.popup th {
  font-weight: bold;
  background-color: gray;
  border: 1px dotted #BBBBBB;
}

/* wip view stuff */

table#wip a {
  font-size: x-small;
}

table#wip td.corner-spacer {
  border-bottom: none;
  background-color: white;
}

table#wip div {
  overflow: hidden;
}

table#wip table {
  width: 100%;
}

table#wip div, table#wip td {
  border-collapse: collapse;
  border-spacing: 0;
}

table#wip table td, table#wip table th {
  width: 40px;
  height: 6px;
}

table#wip table th, table#wip table td {
  border-bottom: 1px dotted darkgray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  vertical-align: top;
  height: 6px;
}

table#wip th.vehicle-header, table#wip th.time-header {
  font-weight: lighter;
  font-size: x-small;
  border: solid 1px black;
  height: 40px;
}

table#wip .hour, table#wip .small {
  font-size: x-small;
  font-weight: normal;
}

table#wip .hour {
  height: 24px;
  padding: 0 2px 0 2px;
  text-align: right;
}

/************************/

.day, .specialDay, .past {
  font-size: 10px;
  line-height: normal;
  padding: 0.7em 1em;
  text-align: center;
}

#errorExplanation {
/*width: 400px;*/
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  vertical-align: top;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.monthName th {
  font-weight: normal;
  text-align: right;
  padding-top: 1em;
  padding-bottom: 0.7em;
}

.dayName th {
  font-size: 0.7em;
  font-weight: normal;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
}

.otherMonth, .day, .specialDay .past {
  padding: 0.7em 1em;
  font-size: 10px;
  line-height: normal;
  text-align: center;
}

.otherMonth {
  color: #BCBFC0;
  background-color: white;
  border-right: 1px solid white;
}

.day {
  border: 1px dotted #bbbbbb;
  width: 14%;
  height: 100%;
}

/*
My calendar customizations
*/

.past {
  color: #CCCCCC;
  border-bottom: 1px dotted #bbbbbb;
}

.popup {
  display: none;
  position: absolute;
  background-color: wheat;
  z-index: 9999;
}

.popup table {
  width: 100%;
}

/* navbar */

#navbar {
  text-align: center;
  float: left;
  margin-left: 300px;
  margin-bottom: 20px;
}

#navbar a {
  text-decoration: none;
}

#navbar a:hover{
  color: black;
  text-decoration: underline;
}

#new-trip-button{
  width: 110px;
  float: left;
}

/******************************************************/
a {
  color: #000;
}

a:visited {
  color: #666;
}

#destination-list a:hover {
  color: black;
  font-weight: bold;
}

td.day a:hover {
  /*don't bold text inside calendar*/
  font-weight: normal;
}

a.selected{
  font-weight: bold;
  color: black
}

a.selected-tab {
  font-weight: bold;
  color: white;
  background-color: #656A6B;
}

/* week styling
*/

.week {
  width: 100%;
}

.week td {
  width: 12.5%;
  vertical-align: top;
}

/***********************/
/* datepicker */
#ui-datepicker-div {
  z-index: 100;
}

.ui-datepicker-trigger {
  margin-top: 3px;
}

/********************************/
/* stuff for expanding title */
/* keep stuff from moving around as title changes size */
#banner {
  width: 100%;
  height: 20px;
}

div#banner h1{
  margin: 0;
  padding: 0;
}
